org.yafra.tdb.setup/config/xml/tdb-query.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CODE" type="xs:int"/>
	<xs:element name="CRET" type="xs:int"/>
	<xs:element name="HEADER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OBJECT"/>
				<xs:element ref="SQL"/>
				<xs:element ref="NOROWS"/>
				<xs:element ref="NOFIELDS"/>
				<xs:element ref="CRET"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSG" type="xs:string"/>
	<xs:element name="NOFIELDS" type="xs:int"/>
	<xs:element name="NOROWS" type="xs:int"/>
	<xs:element name="OBJECT" type="xs:int"/>
	<xs:element name="QUERY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HEADER"/>
				<xs:element ref="RECORDS"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RECORD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bez"/>
				<xs:element ref="code"/>
				<xs:element ref="text"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RECORDS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RECORD" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SQL" type="xs:string"/>
	<xs:element name="STATUS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CODE"/>
				<xs:element ref="MSG"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRAVELDB">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STATUS"/>
				<xs:element ref="QUERY"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bez" type="xs:string"/>
	<xs:element name="code" type="xs:int"/>
	<xs:element name="text">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="blu"/>
				<xs:enumeration value="fasddf"/>
				<xs:enumeration value="fsafa"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
