org.yafra.tdb.setup/config/xml/tdb-cmd.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CODE" type="xs:int"/>
	<xs:element name="CRET" type="xs:int"/>
	<xs:element name="MSG" type="xs:string"/>
	<xs:element name="NOROWS" type="xs:int"/>
	<xs:element name="OBJECT" type="xs:int"/>
	<xs:element name="SQL" type="xs:string"/>
	<xs:element name="SQLCMD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OBJECT"/>
				<xs:element ref="SQL"/>
				<xs:element ref="NOROWS"/>
				<xs:element ref="CRET"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="STATUS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CODE"/>
				<xs:element ref="MSG"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRAVELDB">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STATUS"/>
				<xs:element ref="SQLCMD"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
