org.yafra.tdb.setup/config/xml/tdb-cmd.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT CODE (#PCDATA)>
<!ELEMENT CRET (#PCDATA)>
<!ELEMENT MSG (#PCDATA)>
<!ELEMENT NOROWS (#PCDATA)>
<!ELEMENT OBJECT (#PCDATA)>
<!ELEMENT SQL (#PCDATA)>
<!ELEMENT SQLCMD (OBJECT, SQL, NOROWS, CRET)>
<!ATTLIST SQLCMD
	version CDATA #REQUIRED
>
<!ELEMENT STATUS (CODE, MSG)>
<!ELEMENT TRAVELDB (STATUS, SQLCMD)>
<!ATTLIST TRAVELDB
	version CDATA #REQUIRED
>
