org.yafra.tdb.setup/config/xml/tdb-typecodes.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT CODE (objname?, id?)>
<!ELEMENT STATUSTYPES (CODE+)>
<!ELEMENT TRAVELDB (TYPES, STATUSTYPES)>
<!ATTLIST TRAVELDB
	version CDATA #REQUIRED
>
<!ELEMENT TYPES (CODE+)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT objname (#PCDATA)>
