org.yafra.tdb.setup/config/xml/tdb-typecodes.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="id" type="xs:int"/>
	<xs:element name="objname" type="xs:string"/>
	<xs:element name="CODE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="objname" minOccurs="0"/>
				<xs:element ref="id" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="objname" minOccurs="0"/>
				<xs:element ref="id" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STATUSTYPES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STA" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRAVELDB">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TYPES"/>
				<xs:element ref="STATUSTYPES"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TYPES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CODE" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
