org.yafra.tdb.setup/config/xml/tdb-login.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BCHST">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:byte" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CLIENTHOSTNAME" type="xs:string"/>
	<xs:element name="CODE" type="xs:boolean"/>
	<xs:element name="COUNTRY">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:byte" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DBNAME" type="xs:string"/>
	<xs:element name="DLAT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:byte" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DLNT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:byte" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DLT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:byte" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DLTT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:byte" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ENDTIME" type="xs:dateTime"/>
	<xs:element name="FLAG" type="xs:int"/>
	<xs:element name="KAT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:byte" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LANG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:byte" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LOGIN">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DBNAME"/>
				<xs:element ref="USER"/>
				<xs:element ref="PWD"/>
				<xs:element ref="CLIENTHOSTNAME"/>
				<xs:element ref="FLAG"/>
				<xs:element ref="UID"/>
				<xs:element ref="BCHST"/>
				<xs:element ref="SECLEVEL"/>
				<xs:element ref="LANG"/>
				<xs:element ref="COUNTRY"/>
				<xs:element ref="DLTT"/>
				<xs:element ref="DLT"/>
				<xs:element ref="KAT"/>
				<xs:element ref="DLAT"/>
				<xs:element ref="DLNT"/>
				<xs:element ref="SAI"/>
				<xs:element ref="PRG"/>
				<xs:element ref="STARTTIME"/>
				<xs:element ref="ENDTIME"/>
				<xs:element ref="RANGE"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSG" type="xs:string"/>
	<xs:element name="PRG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:byte" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PWD" type="xs:string"/>
	<xs:element name="RANGE" type="xs:duration"/>
	<xs:element name="SAI">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:byte" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SECLEVEL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="STARTTIME" type="xs:dateTime"/>
	<xs:element name="STATUS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CODE"/>
				<xs:element ref="MSG"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRAVELDB">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STATUS"/>
				<xs:element ref="LOGIN"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UID" type="xs:ID"/>
	<xs:element name="USER" type="xs:string"/>
</xs:schema>
