org.yafra.tdb.setup/config/xml/tdb-login.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT BCHST (#PCDATA)>
<!ATTLIST BCHST
	ID CDATA #REQUIRED
>
<!ELEMENT CLIENTHOSTNAME (#PCDATA)>
<!ELEMENT CODE (#PCDATA)>
<!ELEMENT COUNTRY (#PCDATA)>
<!ATTLIST COUNTRY
	ID CDATA #REQUIRED
>
<!ELEMENT DBNAME (#PCDATA)>
<!ELEMENT DLAT (#PCDATA)>
<!ATTLIST DLAT
	ID CDATA #REQUIRED
>
<!ELEMENT DLNT (#PCDATA)>
<!ATTLIST DLNT
	ID CDATA #REQUIRED
>
<!ELEMENT DLT (#PCDATA)>
<!ATTLIST DLT
	ID CDATA #REQUIRED
>
<!ELEMENT DLTT (#PCDATA)>
<!ATTLIST DLTT
	ID CDATA #REQUIRED
>
<!ELEMENT ENDTIME (#PCDATA)>
<!ELEMENT FLAG (#PCDATA)>
<!ELEMENT KAT (#PCDATA)>
<!ATTLIST KAT
	ID CDATA #REQUIRED
>
<!ELEMENT LANG (#PCDATA)>
<!ATTLIST LANG
	ID CDATA #REQUIRED
>
<!ELEMENT LOGIN (DBNAME, USER, PWD, CLIENTHOSTNAME, FLAG, UID, BCHST, SECLEVEL, LANG, COUNTRY, DLTT, DLT, KAT, DLAT, DLNT, SAI, PRG, STARTTIME, ENDTIME, RANGE)>
<!ATTLIST LOGIN
	version CDATA #REQUIRED
>
<!ELEMENT MSG (#PCDATA)>
<!ELEMENT PRG (#PCDATA)>
<!ATTLIST PRG
	ID CDATA #REQUIRED
>
<!ELEMENT PWD (#PCDATA)>
<!ELEMENT RANGE (#PCDATA)>
<!ELEMENT SAI (#PCDATA)>
<!ATTLIST SAI
	ID CDATA #REQUIRED
>
<!ELEMENT SECLEVEL (#PCDATA)>
<!ATTLIST SECLEVEL
	ID CDATA #REQUIRED
>
<!ELEMENT STARTTIME (#PCDATA)>
<!ELEMENT STATUS (CODE, MSG)>
<!ELEMENT TRAVELDB (STATUS, LOGIN)>
<!ATTLIST TRAVELDB
	version CDATA #REQUIRED
>
<!ELEMENT UID (#PCDATA)>
<!ELEMENT USER (#PCDATA)>
