org.yafra.tdb.setup/config/xml/tdb-query.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT CODE (#PCDATA)>
<!ELEMENT CRET (#PCDATA)>
<!ELEMENT HEADER (OBJECT, SQL, NOROWS, NOFIELDS, CRET)>
<!ELEMENT MSG (#PCDATA)>
<!ELEMENT NOFIELDS (#PCDATA)>
<!ELEMENT NOROWS (#PCDATA)>
<!ELEMENT OBJECT (#PCDATA)>
<!ELEMENT QUERY (HEADER, RECORDS)>
<!ATTLIST QUERY
	version CDATA #REQUIRED
>
<!ELEMENT RECORD (bez, code, text)>
<!ATTLIST RECORD
	id (1 | 2 | 3) #REQUIRED
>
<!ELEMENT RECORDS (RECORD+)>
<!ELEMENT SQL (#PCDATA)>
<!ELEMENT STATUS (CODE, MSG)>
<!ELEMENT TRAVELDB (STATUS, QUERY)>
<!ATTLIST TRAVELDB
	version CDATA #REQUIRED
>
<!ELEMENT bez (#PCDATA)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT text (#PCDATA)>
